<div id="header">
    <div id="header-left">
        <h1>Techspardha 2017</h1>
    </div>
    <div id="header-right">
        <h1>Hi, Varun Kumar</h1>
    </div>
</div>
<div id="container">
    <div id="response-button" (click)="onResponseButtonClick()" [ngClass]="responseActiveClass" >RESPONSES</div>
    <div id="event-button" (click)="onEventButtonClick()" [ngClass]="eventActiveClass">EVENT</div>
    <div id="tab-content">
        <div id="response-tab-content" *ngIf="showTabContent == 'response'" >
            Response content goes here
        </div>
        <div id="event-tab-content" *ngIf="showTabContent == 'event'">
            Event content goes here
        </div>
    </div>
</div>
