<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div id="header">
    <div id="header-left">
        <h3>Techspardha 2017</h3>
    </div>
    <div id="header-right">
        <h3>Hi {{this.admin.name}}, <a href="#" id="logout-button" (click)="logout()">Logout</a></h3>
    </div>
</div>
<div id="container">

    <div id="response-button" (click)="onResponseButtonClick()"
        [ngClass]="responseActiveClass">
        Responses
    </div>
    <div id="event-button" (click)="onEventButtonClick()"
        [ngClass]="eventActiveClass"
        *ngIf="this.event">
          {{this.event.Name}}
    </div>
    <div id="tab-content">
        <div id="response-tab-content" *ngIf="showTabContent == 'response'">
            <!-- Response content goes here  -->

            <div class="blue-button" (click)="allModal.open()">Notify All</div>

            <img src="app/assets/arrows.svg"
                class="refresh-button"
                alt="Refresh"
                (click)="fetchAndUpdateParticipants()"/>
            <div class="single-box">
                <div *ngIf="!participants || participants.length == 0">
                    <p>Nothing to display</p>
                </div>
                <div class="boxes responses" *ngFor="let participant of participants; let i = index">
                    <p>{{i + 1}}</p>
                    <div class="left-75">
                        Name: &nbsp;&nbsp;&nbsp; <input type="text" [(ngModel)]="participant.Name" disabled/><br/>
                        Mobile: &nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="participant.Mobile" disabled/><br/>
                        College: &nbsp;&nbsp;<input type="text" [(ngModel)]="participant.College" disabled/><br/>
                        Level: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" [(ngModel)]="participant.Level" disabled/>
                    </div>
                    <div class="control-area">
                        <div class="button" (click)="forwardParticipant(i, participant.Id)">Forward</div>
                        <div class="button" (click)="oneModal.open(participant.Id)">Notify</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="event-tab-content" *ngIf="showTabContent == 'event'">
            <div *ngIf="event">
                <div id="update-event-button" (click)="updateEvent()">Update Event</div>
                <div class="blue-button" (click)="chPassModal.open()">Change Password</div>
                <div class="single-box">
                    <p>Event Description</p>
                    <textarea rows=6
                        [(ngModel)]="event.Description"
                        [ngClass]="classes.desc"
                        (keyup)="validate('desc')"
                        #eventDescription>
                    </textarea>
                </div>
                <div class="single-box">
                    <p>Rules</p>
                    <textarea rows=6
                        [(ngModel)]="event.Rules"
                        [ngClass]="classes.rules"
                        (keyup)="validate('rules')"
                        #eventRules>
                    </textarea>
                </div>
                <div class="single-box">
                    <div class="double-box">
                        <p>Start(MM/dd/yyyy)</p>
                        <input type="text" [ngModel]="event.Start"
                            (ngModelChange)="event.Start=$event"
                            [ngClass]="classes.start"
                            (keyup)="validate('start')"
                            #eventStartDate/>
                    </div>
                    <div class="double-box">
                        <p>End </p>
                        <input type="text" [ngModel]="event.End"
                            (ngModelChange)="event.End=$event"
                            [ngClass]="classes.end"
                            (keyup)="validate('end')"
                            #eventEndDate/>
                    </div>
                </div>

                <div class="single-box">
                    <div class="double-box">
                        <p>Venue</p>
                        <input type="text" [(ngModel)]="event.Venue"
                        #eventVenue
                        (keyup)="validate('venue')"
                        [ngClass]="classes.venue"/>
                    </div>
                    <div class="double-box">
                        <p>Maximum Constestants(Per team)</p>
                        <input type="number" [(ngModel)]="event.MaxContestants"
                        #maxContestants
                        (keyup)="validate('mc')"
                        [ngClass]="classes.mc"/>
                    </div>
                </div>
                <div class="single-box">
                    <div class="double-box">
                        <p>Current Round</p>
                        <input type="number" [(ngModel)]="event.CurrentRound"
                            #currentRound
                            (keyup)="validate('cr')"
                            [ngClass]="classes.cr"/>
                    </div>
                    <div class="double-box">
                        <p>Total Rounds</p>
                        <input type="number" [(ngModel)]="event.TotalRounds"
                        #totalRounds
                        (keyup)="validate('tr')"
                        [ngClass]="classes.tr"/>
                    </div>
                </div>
                <div class="single-box">
                    <div class="double-box">
                        <p>Status</p>
                        <select type="number" [(ngModel)]="event.Status"
                        #status
                        (change)="validate('st')"
                        [ngClass]="classes.st">
                            <option>Not started</option>
                            <option>Started</option>
                            <option>Finished</option>
                        </select>
                    </div>
                    <div class="double-box">
                        <p>Upload Rules Pdf</p>
                        <input type="file"
                            #inputFile
                            [ngClass]="classes.file"
                            (change)="fileChanged($event)"/>
                        </div>
                    </div>

            </div> <!-- ngif-->
        </div>
    </div>
</div>
<modal  title="Notify All"
        cancelButtonLabel="cancel"
        submitButtonLabel="Notify"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="false"
        [closeOnEscape]="true"
        [closeOnOutsideClick]="true"
        (onSubmit)="notifyAll($event)"
        #allModal>

    <modal-content>
        Enter the notification message to send.
        <br />
        <textarea rows="4" [(ngModel)]="notiMessage" class="message-box"></textarea>
    </modal-content>

</modal>
<modal  title="Notify Participant"
        cancelButtonLabel="cancel"
        submitButtonLabel="Notify"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="false"
        [closeOnEscape]="true"
        [closeOnOutsideClick]="true"
        (onSubmit)="notifyOne()"
        #oneModal>

    <modal-content>
        Enter the notification message to send.
        <br />
        <textarea rows="4" [(ngModel)]="notiMessage" class="message-box"></textarea>
    </modal-content>

</modal>

<modal  title="Change Password"
        cancelButtonLabel="cancel"
        submitButtonLabel="Change"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="false"
        [closeOnEscape]="true"
        [closeOnOutsideClick]="true"
        (onSubmit)="changePassword()"
        #chPassModal>

    <modal-content>
        Enter the new password
        <br />
        <input rows="4" [(ngModel)]="chPass" class="message-box" />
    </modal-content>

</modal>
