<div id="login">
    <h1>
        Techspardha 2017 Admin Panel
    </h1>
    <p class="text-box">
        <img src="app/assests/message.svg" class="icon"/>
        <input type="text" #username placeholder="Enter username"/>
    </p>
    <p class="text-box">
        <img src="app/assests/lock.svg" class="icon"/>
        <input type="password" #password placeholder="Enter password"/>
    </p>
    <p class="text-box">
        <button (click)="adminLogin(username.value, password.value)">Log In</button>
    </p>
</div>