html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: #272733;
    color: #eeeeee;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#login {
    position: relative;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 50%;
    background: #349F8D;
    height: 55%;
    color: white;
}

#logout-button {
  color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

#login h1 {
    padding: 25px 0px 25px 0px;
}

#login input {
    background: transparent;
    border: 0px;
    width: 90%;
}

.text-box {
    width: 60%;
    border: 1px solid #e7e7e7;
    margin: 20px auto;
    padding: 1.9%;
}

#login input, #login button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
    color: #fff;
}

#login button {
    background: transparent;
    border: 0px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#login input:focus, #login button:focus {
    outline: none;
}

#login .icon {
    width: 15px;
    vertical-align: text-bottom;
    margin-right: 10px;
    float: left;
}

#header {
    width: 100%;
    height: 30%;
    background-color: #349F8D;
    margin: 0 auto;
}

#header-left, #header-right {
    top: 0;
    width: 50%;
    text-align: center;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
}

#container {
    position: absolute;
    left: calc(50% - 455px);
    top: 13%;
    background-color: #414453;
    width: 910px;
    height: 87%;
    border-radius: 3px;
}

#response-button, #event-button {
    position: absolute;
    top: 0;
    width: 50%;
    text-align: center;
    font-size: 2em;
    height: 40px;
    cursor: pointer;
    color: rgba(255, 255, 255, .7);
    transition-property: all;
    transition-duration: 400ms;
}

#response-button {
    border-bottom: 4px solid #E46C47;
    left: 0;
}

#event-button {
    border-bottom: 4px solid #E46C47;
    left: 50%;
}

.response-active {
    box-shadow: inset 0px 0px 20px rgba(1, 1, 1, .4);
    color: white !important;
}

.event-active {
    color: white !important;
    box-shadow: inset 0px 0px 20px rgba(1, 1, 1, .4);
}

#tab-content {
    position: absolute;
    top: 40px;
    left: calc(50% - 455px);
    height: 89%;
    width: 910px;
    overflow-y: scroll;
}

#response-tab-content, #event-tab-content {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 94%;
    width: 94%;
    margin: 1% 3% 0 3%;
}

.single-box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}

.double-box {
    width: 200px;
    margin: 0 4px 10px 4px;
    display: inline-block;
}
.single-box p, .double-box p {
    margin: 0% 0 1% 0;
    float: left;
}

.single-box textarea {
    width: 100%;
    resize: none;
}

.single-box input[type="file"] {
    width: 100%;
}

#event-tab-content textarea, #event-tab-content input, #event-tab-content select {
    background: #2f3438;
    color: inherit;
    border: none;
    padding: .5em;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#editIcon {
    position: absolute;
    top: 1%;
    left: 96%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.boxes {
    width: 100%;
    padding: 1%;
    padding-bottom: 0px;
    overflow: hidden;
    float: left;
    display: inline-block;
    border-radius: 2px;
}

.boxes:nth-child(2n+1) {
    background-color: rgba(86, 87, 95, 0.68);
}

.boxes input[type="text"] {
    width: calc(98% / 2);
    height: 20%;
    margin-bottom: 2%;
}

.boxes input {
    background: #2f3438;
    color: inherit;
    border: none;
    padding: .5em;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.boxes p {
    margin: 0% 0 1% 0;
}

.box {
    display: inline-block;
    width: 49%;
}

.separator {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 1px solid #7d7d7d;
}

.left-75 {
    width: 76%;
    float: left;
}
input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
    border: 1px solid rgb(255, 115, 115) !important;
}

input:required:valid, input:focus:valid, textarea:required:valid, textarea:focus:valid, select, input[type='file'] {
    border: 1px solid #1f9a1f !important;
}

input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    background: orange;
}

.control-area {
    width: 24%;
    text-align: center;
    display: inline-block;
}

.control-area .button {
    background-color: #349F8D;
    display: block;
    float: right;
    margin: 1%;
    padding: 3%;
    margin-right: 1.5%;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.blue-button {
    background-color: #349F8D;
    float: right;
    border-radius: 2px;
    margin: 1%;
    padding: 1%;
    margin-right: 1.5%;
    outline: none;
    cursor: pointer;
}
.refresh-button {
    height: 25px;
    float: right;
    margin-top: 1.5%;
    margin-right: 1.5%;
    cursor: pointer;
}

#update-status-button, #update-event-button {
    background-color: #349F8D;
    float: right;
    margin: 1%;
    padding: 1%;
    margin-right: 1.5%;
    outline: none;
    cursor: pointer;
}


#update-event-button {
    margin-right: 0%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #349F8D;
}

/*
Slim Loading start
 */
/*!
 * Copyright (C) 2016 Sergey Akopkokhyants
 * This project is licensed under the terms of the MIT license.
 * https://github.com/akserg/ng2-slim-loading-bar
 */


/* Styling for the Slim Loading Progress Bar container */
.slim-loading-bar {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal-content {
    color: black;
}

.message-box {
    background: #2f3438;
    color: white;
    border: none;
    padding: .5em;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

/*
Slim loading ends
 */

/*=========================responsive===============*/
@media (max-width: 1260px) {
    #container, #tab-content {
        width: 686px;
        left: calc(50% - 343px);
    }

}

@media (max-width: 768px) {
    #login {
        width: 70%;
        height: 60%;
    }

    #tab-content, #container {
        width: 460px;
        left: calc(50% - 230px);
    }
}

@media (max-width: 480px) {
    #login {
        width: 80%;
        height: 60%;
        position: absolute;
        left: 10%;
        top: 10%;
    }

    #login h1 {
        font-size: 150%;
    }

    .text-box {
        width: 87%;
    }

    .box {
        display: block;
        width: 100%;
    }

    #response-button, #event-button, #update-status-button, #save-event {
        font-size: 1.4em;
        padding-top: 1.5%;
    }

    #tab-content, #container {
        width: 300px;
        left: calc(50% - 150px);
    }

    .double-box {
        width: 260px;
    }

    #event-tab-content {
        width: 92%;
        margin: 1% 4% 0 4%;
    }

    body h1 {
        font-size: 100%;
    }
}
